% -*- mode: erlang -*-

{require_min_otp_vsn, "17"}.

{erl_opts, [
      debug_info 
    , fail_on_warning
    ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{project_app_dirs, ["apps/*"]}.

{plugins, [
    {pc, {git, "git://github.com/blt/port_compiler.git", {branch,"master"}}}
          ]}.

{overrides,[
  {override, erlcam, [
    {plugins, [pc]},
    {artifacts, ["priv/bitcam"]},
    {provider_hooks,
        [{post, [
            {compile, {pc,compile}},
            {clean, {pc,clean}}
        ]}]}   
  ]}
]}.

{deps, [
    {libemp, ".*",
        {git, "git://github.com/dstar4138/libemp.git"}},
    {erlcam, ".*",
        {git, "git://github.com/dstar4138/erlcam.git"}}
]}.

